.header_nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.header_div>img{
    width: 50px;
    height: 50px;
}
.header_div{
    display: flex;
    justify-content: space-between;
    width: 800px;
    height: 150px;
    align-items: center;
    margin-left: 52px;
}
.header_div>p{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    line-height: 23.44px;
    text-align: left;
    color: #D5D5D6;
    text-shadow: 0px 4px 4px #D5D5D6;
    
}
.steam_div{
    display: flex;
    background: #009FF5B5;
    width: 243px;
    height: 50px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    gap: 21px;
    margin-left: 68;
}
.steam_div>img{
    width: 32px;
    height: 32px;
}
.steam_div>p{
    width: 151px;
    height: 22px;
    top: 44px;
    left: 242px;
    gap: 0px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    line-height: 23.44px;
    text-align: left;
    color: #fff;
}
header{
    width: 100%;
    height: 1024px;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./assets/img/ks_bg.png);
}
.header_select{
    background-color: transparent;
    height: 50px;
    border: none;
    margin-top: 24px;
    margin-right: 52px;
    color: #D5D5D6;
    text-shadow: 0px 4px 4px #000000E0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.best_players{
    width: 604px;
    height: 103px;
    border-radius: 50px;
    border: 11px solid #5A5555;
    background-color: #FFC611;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    text-align: left;
    text-shadow: 0px 4px 4px #0047FF;
    
}
.header_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 187px;
}
.card>img{
    width: 361px;
    height: 353px;
}
.card>p{
    font-family: Roboto;
    font-size: 36px;
    font-weight: 600;
    line-height: 42.19px;
    text-align: left;
    color: #000;
    text-shadow: 0px 4px 4px #FFC200;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.card_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 127px;
    margin-top: 132px;
}
main{
    width: 100%;
    height: 100vh;
    background-color: #000;
}
.uzb>img{
    width: 571px;
    height: 305px;
}
.uzb{
    display: flex;
    width: 100%;
    height: 310px;
    justify-content: center;
    gap: 87px;
}
.uzb_text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 663px;
    height: 310px;
    font-family: Roboto;
    font-size: 27px;
    font-weight: 600;
    line-height: 31.64px;
    text-align: left;
    color: #fff;
}
.uzb_text>button{
    width: 278px;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFC200;
    border: none;
    font-family: Roboto;
    font-size: 27px;
    font-weight: 700;
    line-height: 31.64px;
    text-align: left;
    color: #000;
    box-shadow: 0px 7px 12.8px 0px #FFFFFF;
    transition: all 0.3s;
    text-shadow: 0px 4px 4px #040404CF;
}
.uzb_text>button:hover{
    transition: all 0.3s;
    background-color: #535353;
    color: #FFFFFF;
}
.uzb_2{
    display: flex;
    width: 100%;
    height: 310px;
    align-items: center;
    justify-content: center;
    gap: 87px;
    flex-direction: row-reverse;
    margin-top: 169px;
}
.uzb_2_text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 663px;
    height: 310px;
    font-family: Roboto;
    font-size: 27px;
    font-weight: 600;
    line-height: 31.64px;
    text-align: left;
    color: #fff;
}
.uzb_2_text>button{
    width: 278px;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFC200;
    border: none;
    font-family: Roboto;
    font-size: 27px;
    font-weight: 700;
    line-height: 31.64px;
    text-align: left;
    color: #000;
    box-shadow: 0px 7px 12.8px 0px #FFFFFF;
    transition: all 0.3s;
    text-shadow: 0px 4px 4px #040404CF;
}
.uzb_2_text>button:hover{
    transition: all 0.3s;
    background-color: #535353;
    color: #FFFFFF;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 158px;
    background-color: #FFC611;
}
.footer_div{
    display: flex;
    align-items: center;
    gap: 40px;
}
.glavniy_footer{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
